{% extends 'base.html' %}
{% comment %} フォームとボタン以外は基本動かしてＯＫです。 {% endcomment %}
{% block replay %}{% endblock %}
{% block body %}
<form method='POST' id="submit" name='form' action="{% url 'wakuriha:calendar' %}">
{% csrf_token %}
<center>
    <div class="margin_top calendar_diary">
<text class="calendar_diary_day">{{day}}</text>
<div class="box54">
  楽しみな予定を入力し、「登録する」ボタンを押してください！。＊３０文字以上は入力できません。
  </div>
{{ form }}
<br>
<input class="simple_square_btn diary_calendaredit_regit mobile modal-open" type="submit" name = "register" value="登録する">
    </div>
</center>
{% endblock %}