{% extends 'base.html' %}
{% block one_back %}{% endblock %}
{% block back_to_menu_text %}戻る{% endblock %}
{% comment %} フォームとボタン以外は基本動かしてＯＫです。 {% endcomment %}
{% block body %}
<center>
<main>
    <form method='POST' id="submit" name="form" action="{% url 'wakuriha:top' %}">
{% csrf_token %}
<br><br><br><br>
{% if messages %}
{% for message in messages %}
<input id ="test2" type="hidden" value={{ message }}>
{% endfor %}
{% endif %}
<font style="line-height:222%;" color='#444444' class="login_text"><text>アカウントID</text></font>
<br>
{{ form.first_pw_id_textbox }}
<br><br>
<font color='#444444' style="line-height:222%;" class="login_text"><text>パスワードを設定</text></font>
<br>
<font color='#f08080'><text id= "login_red" class="login_text">４桁以上１０桁以下の<br>　英数字で入力してください。</text></font>
<br>
{{ form.first_pw_textbox }}
<br><br>
<font color='#444444' style="line-height:222%;" class="login_text"><text>パスワード確認</text></font>
<br>
{{ form.first_pw_check_textbox }}
<br><br>
<input class="simple_square_btn modal-open" type="submit" name = "first_password_set" value="次へ">
<br>
<font color='#f08080' id= "login_red" class="login_text">＊＊初回のみ登録可能。</font>
{% comment %} <input type="hidden" class="diary diarydel" name = "delete"> {% endcomment %}
</form>
{% comment %} <a href="{% url 'wakuriha:signup' %}" class="simple_square_btn_top">サインアップ</a>
<a href="{% url 'wakuriha:login' %}" class="simple_square_btn_top">ログイン</a> {% endcomment %}
</main>
</center>
{% endblock %}
