{% extends 'base.html' %}
{% block one_back %}{% endblock %}
{% block back_to_menu_text %}戻る{% endblock %}
{% comment %} フォームとボタン以外は基本動かしてＯＫです。 {% endcomment %}
{% block body %}
<main>
    <center>
<form method='POST' id="submit" name="form" action="{% url 'wakuriha:top' %}">
{% csrf_token %}
<font class="login_text"><text>新しいパスワード</text></font>
<br><br>
{{ form.Pw_reset_textbox }}
<br><br>
<font class="login_text"><text>パスワード確認</text></font>
<br><br>
{{ form.Pw_reset_check_textbox }}
<br><br>
<input class="simple_square_btn modal-open" type="button" name = "reset_pass" value="変更する">
<input type="hidden" class="simple_square_btn " name='reset_pass' >
</form>
</center>
</main>
{% endblock %}
